http://{$FRONTNEW_DOMAIN} {
	encode zstd gzip

	@notEdgeHttps {
		not header X-Forwarded-Proto https
	}
	redir @notEdgeHttps https://{host}{uri} permanent

	@proofspaceApi path /proofspace-api/*
	handle @proofspaceApi {
		uri strip_prefix /proofspace-api
		reverse_proxy proofspace-java:8080 {
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Port 443
			header_up X-Forwarded-Prefix /proofspace-api
		}
	}

	@continew path /business/* /auth/* /captcha/* /system/* /user/* /tenant/* /monitor/* /dashboard*
	handle @continew {
		reverse_proxy continew-java:18000 {
			flush_interval -1
		}
	}

	handle {
		reverse_proxy frontnew:3000
	}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

http://{$WPS_CALLBACK_DOMAIN} {
	encode zstd gzip

	@notEdgeHttps {
		not header X-Forwarded-Proto https
	}
	redir @notEdgeHttps https://{host}{uri} permanent

	@wpsCallback path /proofspace/v3/3rd/* /proofspace/wps-content/*
	handle @wpsCallback {
		reverse_proxy proofspace-java:8080 {
			header_up X-Forwarded-Proto https
			header_up X-Forwarded-Port 443
		}
	}

	handle {
		respond "Not Found" 404
	}

	header {
		-Server
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}
}
